body {
  margin: 0;
  padding: 0;
  /* bütün tarayiciyi kaplasın */
  height: 100vh;
  background-image: url(images/currency.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}